<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Joejob Mypage</title>
</head>
<body>
    <img src="<%= profile_photo %>">
    <h1>Hello <%= username %> :)</h1>
    <ul>
      <li>height: <%= height %></li>
      <li>weight: <%= weight %></li>
      <li>age: <%= age %></li>
      <li>mobile: <%= mobile_number %></li>
    </ul>
      <div>
        <a href="/">home</a>
        <a href="/logout">logout</a>
      </div> 
</body>
</html>